.container{
    position: absolute;
    width: 90%;
    height: 60%;
    top: 15%;
    left: 5%;
    border-style: solid;
    border-width: 3px;
    border-color: black
}

.circulo{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-style: solid;
    border-width: 0;
    background-color:black;
    animation: animate 5s linear alternate-reverse infinite;
}

@keyframes animate{
    0%{
        top: 0%;
        left: 0%;
    }
    10%{
        top: 30%;
        left: 10%;
    }
    20%{
        top: 60%;
        left: 20%;
    }
    30%{
        top: 90%;
        left: 30%;
    }
    40%{
        top: 60%;
        left: 40%;
        background: blue;
    }
    50%{
        top: 30%;
        left: 50%;
    }
    60%{
        top: 0%;
        left: 60%;
    }
    70%{
        top: 30%;
        left: 70%;
    }
    80%{
        top: 60%;
        left: 80%;
        background: red;
    }
    90%{
        top: 90%;
        left: 90%;
    }

    100%{
        top: 80%;
        left: 97%;
        background: yellow;
    }
}


